@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputbox {
    @apply border border-zinc-400 rounded-full py-1.5 px-4;
  }
  .input-time {
    @apply border border-zinc-400 rounded-xl py-[6px] px-2;
  }
  .button-submit {
    @apply flex justify-center items-center bg-orange rounded-lg p-1 py-1.5 text-white text-sm;
  }
  .button-cancel {
    @apply flex justify-center items-center border border-solid border-gray rounded-lg p-1 py-1.5 text-black text-sm;
  }
  .button-add {
    @apply bg-purple rounded-lg py-1.5 text-white text-sm;
  }
  .button-select {
    @apply bg-blue rounded-full py-1 px-2.5 text-white text-sm;
  }
  .button-unselect {
    @apply bg-stone-200 hover:bg-blue hover:bg-opacity-40 rounded-full py-1 px-2.5 text-neutral-600 text-sm;
  }
  .custom-modal {
    @apply overflow-y-auto overflow-x-hidden max-h-[60vh] scroll-smooth;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.15px;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.1px;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-size: 21px;
  font-weight: 400;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}
p {
  font-size: 16px;
}
